.Footer {
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    padding: 15px 0 0 15px;
    background-color: rgba(93, 0, 255, 0.66);
    color: white;
    text-align: center;
 }